<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
   <%= csrf_meta_tag %>
   <%=render 'layouts/stylesheet'%>
</head>
<body>
	<div id ="main"><!--BEGIN MAIN -->
		<div class="container"><!--BEGIN CONTAINER-->
			<header>
   
			<ul id="left_nav">
				<% if artist_signed_in? %>
					<li>Signed in as <%= current_artist.username %> <%= link_to "Sign out", destroy_artist_session_path %></li>
				<% else %>
					<li><%= link_to "Register", new_artist_registration_path %></li>
					<li><%= link_to "Login", new_artist_session_path %></li>
				<% end %>
 			</ul>
			
			<nav>
 		 <ul>
	  <li><%=link_to "Home", root_path%></li>
	  <li><%=link_to "Top 100",'#'%></li>
	  <li><%=link_to "Mixtapes",'#'%></li>
	  <li><%=link_to "Videos",'#'%></li>
	  <li><%=link_to "Lyrics",'#'%></li>
	  <li><%=link_to "Artists",featured_path%></li>
   </ul>
   </nav>
   </header>
    <section>
	<%= yield %>
    </section>

   

    </div><!--END CONTAINER-->
   </div> <!---END MAIN--> 


   <footer>
     <div class="container">
	   
    <ul id="menu">
	    <li><%=link_to "About",about_path%></li>
	    <li><%=link_to "Contact",contact_path%></li>

    </ul>


    </div>
    </footer>
</body>
</html>

