<p id="notice"><%= notice %></p>




  <div id ="trackplayer">Loading player</div>

<div id="media">
<div class="profile-picture">

  <%=image_tag(picture(@track.artist))%>	
 </div>
 <div>
	 <h2> <%=@track.filename %><br/><h2>
   	 <h3><%=@track.artist.username %></h3>
 </div> 



</div>



  <script type="text/javascript">
	  jwplayer("trackplayer").setup({
			  'flashplayer':'/jwplayer/player.swf',
			  'file':<%="\'/tracks/0000/000#{@track.id}/#{@track.filename}\'"%>,
                            'controlbar' :'bottom',
			    'width':'480',
			    'height':'100'}
			  );
		  </script>
<div class="comment">
	<% if artist_signed_in? %>
		<%= form_for (@micropost) do |f| %>
			<div class="field">
				<%= f.text_area :content, :size => '15x8' %>
			</div>
			<div class="actions">
				<%= f.submit "Comment" %>
			</div>
		<% end %>
		<table>
	<td class="micropost">
		<%= render 'shared/feed' %>
	</td>
</table>
<% end %>

</div>
