<p id="notice"><%= notice %></p>


<audio src =<%= "/tracks/0000/000#{@track.id}/#{@track.filename}"%>  autoplay ="autoplay" controls ="controls">
	
Your broswer does not have HTML 5 support
</audio>

 

<div id="media">
<div class="profile-picture">

  <%=image_tag(picture(@track.artist))%>	
 </div>
 <div>
	 <h2> <%=@track.filename %><br/><h2>
   	 <h3><%=@track.artist.username %></h3>
 </div> 



</div>


<div class="comment">
	<% if artist_signed_in? %>
		<%= form_for (@micropost) do |f| %>
			<div class="field">
				<%= f.text_area :content, :size => '15x8' %>
			</div>
			<div class="actions">
				<%= f.submit "Comment" %>
			</div>
		<% end %>
		<table>
	<td class="micropost">
		<%= render 'shared/feed' %>
	</td>
</table>
<% end %>

</div>
