<p id="notice"><%= notice %></p>


<audio src =<%= "/tracks/#{@track.filename}"%>  autoplay ="autoplay" controls ="controls">
	
Your broswer does not have HTML 5 support
</audio>


<p><strong><%=@track.name%></strong> Posted by<%= link_to(@track.artist.username,@track.artist) %><br/>
	<%=link_to "Download",:controller =>"tracks",:action =>"download",:track => @track.filename%>
</p>


<%if artist_signed_in?%>
    <%=form_tag({:controller => :tracks,:action =>:create_comment,:id=>@track.id},{:method => :post} ) do |f|%>
   <%=text_area_tag :comment%>
   <%=submit_tag "Comment"%>
<%end%>
<%end%>
   

<p>Comments: </p>
    <% unless  @comments.empty?%>
     <%@comments.each do |c|%>
     
 <div id ="comments"> 
 
    <div class ="thumbs"> 
         <%=link_to (image_tag(picture(c.artist),:size =>"50x50")),:controller => "artists",:action => "show",:id => c.artist_id%>
    </div>
     <div id ="comment-text"> 
    <strong><%=c.artist.username%></strong>(<%=time_ago_in_words(c.created_at)%> ago) :<br/>
                  
                	<%=c.comment%>
             
                </div>
 </div> 
	 
	 
	 
        <%end%>
          <%=will_paginate @comments ,:id =>@track.id%>

    <%end%>
