<h1> Edit Profile</h1>



<%=form_for(@artist,:html =>{:multipart => true}) do |f| %> 

	<p>
	<%=f.label :Name %> <br/>
	<%=f.text_field :username %>

	<p>
	<%=f.label "About You" %><br/>
	 <%=f.text_area :bio %>
	</p>
	<p>
	<%=f.label :location %><br/>
	<%=f.text_field :location %>
       </p>

	<p>
	<%=f.label "Artist type " %><br/>
	<%=f.select(:artist_type,[['Commercial',1],['Independent',2],['Unsigned',3]])%>
	</p>


	<p>
	</p>
	<%=f.label :website %><br/>
	<%=f.text_field :website %>
	</p>

	<p>
	<%=f.label :Genre %><br/>
	<%=f.text_field :genre %>
	</p>

	
	<p>
	<%=f.label "Record Label" %><br/>
	<%=f.text_field :record_label%>
	</p>

      <p>
	<%= label_tag :Picture %><br/>
	<%= file_field :attachable, :uploaded_data %>
      </p> 

        <p>	 
        <%=f.submit "Save" %>
	</p>

        

<%end%>
